{% extends 'base.html' %}
{% load static %}

    <div class="menu_line"></div>
    {% block contact %}
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="contact_header">Contact</div>
                    <form action="" method="post">
                        {% csrf_token %}
                    
                        <div class="col-md-4 offset-md-2">
                            {{ form.name }}
                        </div> 
    
                        <div class="col-md-4 offset-md-2">
                        {{ form.email }}
                        </div>
    
                        {% comment %} <div class="col-md-8 offset-md-2">
                            <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[Phone number]" pattern="[0-9\-]*" value="" placeholder="Phone number">
                        </div> {% endcomment %}
    
                        <div class="col-md-8 offset-md-2">
                            {{ form.message }}
                        </div>
                        
                        <div class="col-md-2 offset-md-2">
                            <div class="contact__button">
                                <button type="submit" class="button">
                                  Send
                                </button>
                            </div>
                        </div>
                    </form>
                    

            </div>
        </div>
    {% endblock contact %}
    </div>
    <div class="menu_line"></div>

