




header .container{
    position: relative;
}

.header{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 35px;
    color: grey;
}

.menu{
    min-height: 10px;
    text-align: center;
}

.menu .menu_button{
    display: inline-block;
    margin: 25px 18px 0 18px;
    color: grey;
}

.menu .menu_button:hover{
    text-decoration: underline;
}

.menu_line{
    display: block;
    margin-top: 7px;
    height: 1px;
    width: 100%;
    background-color: rgb(145, 145, 145);
}

.container .fa-solid.fa-magnifying-glass{
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
}
.container .fa-solid.fa-house{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

    .promo{
        min-height: 700px;
        margin-top: 50px;
    }

    .first_img{
        display: block;
        height: 1206px;
        width: 870px;
    }
    .second_img{
        display: block;
        height: 600px;
    }
    .third_img{
        display: block;
        height: 600px;
        margin-top: 6px;
    }
    
    .promo .col-md-8{
        padding: 3px 3px 0 3px;
    }
    .promo .col-md-4{
        padding: 3px 3px 0 3px;
    }

    .footer{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 35px;
        color: rgb(46, 46, 46);
    }
    
    .footer_menu{
        min-height: 10px;
        text-align: center;
    }
    
    .footer_menu .footer_button{
        display: inline-block;
        margin: 25px 18px 0 18px;
        color: grey;
        margin-bottom: 30px;
    }
    
    .footer_menu .footer_button:hover{
        text-decoration: underline;
    }

    .subfooter{
        margin-top: 45px;
        text-align: center;
        min-height: 10px;
    }

    .subfooter .footer_year{
        display: inline-block;
        color: grey;
        font-size: 10px;
    }
    .subfooter .footer_link{
        display: inline-block;
        color: grey;
        font-size: 10px;
        text-transform: uppercase;
        
    }
    .subfooter .footer_link:hover{
        text-decoration: underline;
    }
    
    
    .products_header{
        font-size: 40px;
        margin-top: 20px;
    }
    .products_main{
        display: flex; 
        justify-content: space-between;
        margin-top: 65px;
    }

    .products_main .products_cection .products_img{
        display: block;     
        width: 316px;
    }

    .products_main .products_cection .products_img:hover{
        filter: invert(100%);
        transition: 0.5s;
    }


    .products_main .products_cection .products_descr{
        display: block;
        font-size: 12px;
        color: black;
        margin-top: 15px;
    }

    .products_main .products_cection .products_price{
        display: block;
        font-size: 16px;
        color: black;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .contact_header{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 220px;
        margin-bottom: 70px;
    }

    .field__input{
        width: 100%;
        margin-top: 20px;
    }

    .contact__button .button{
        margin-top: 20px;
        background-color: black;
        color: white;
        width: 92px;
        height: 47px;
    }

    .contact .text-area.field__input{
        margin-top: 20px;
    }

    .descr_product .photos .descr_product1_img_main{
        display: inline-block;
        margin-top: 35px;
        padding: 4px;
        width: 808px;
    }

    .descr_product .photos .descr_product1_img_sub{
        display: inline-block;
        width: 47%;
        padding: 4px;
    }

    