    <footer>
        <div class="footer">
            Policies
        </div>
        <div class="footer_menu">
            <a href="#" class="footer_button">Terms of Service</a>
            <a href="#" class="footer_button">Refund Policy</a>
            <a href="#" class="footer_button">Shipping Policy</a>
            <a href="#" class="footer_button">Shipping Policy</a>
        </div>

            <div class="menu_line"></div>

            <div class="subfooter">
                <div class="footer_year">@2022</div>
                <div class="footer_link">leavemealone</div>
            </div>
    </footer>