{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEAVEMEALONE</title>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/style.min.css' %}">
    <script src="https://kit.fontawesome.com/b5d53af82b.js" crossorigin="anonymous"></script>
</head>
<body>
    
    {% include 'include/header.html' %}
    

    {% block gallery %} {% endblock gallery %} 

    {% block products %} {% endblock products %}

    {% block product_detail %} {% endblock product_detail %}

    {% block contact %} {% endblock contact %}



    {% include 'include/footer.html' %}
</body>
</html>
