<header>
    <div class="container">
        <div class="header">
            leavemealone
        </div>
        <div class="menu">
            <a href="{% url 'home' %}" class="menu_button">Home</a>
            <a href="{% url 'products_list' %}" class="menu_button">Products</a>
            <a href="{% url 'feedback' %}" class="menu_button">Contact</a>
        </div>

        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>    
</header>